# Ignore node_modules directory within the server directory
/server/node_modules/
/client/node_modules/

# Ignore .env file within the server directory
/server/.env
/client/.env

# Ignore package-lock.json file within the server directory
/server/package-lock.json
/client/package-lock.json
